/.idea
/openCV-tutorial/videos
/openCV-tutorial/venv
/openCV-tutorial/.idea
/openCV-tutorial/output

/openCV-tutorial/yolo-coco/yolov3.weights

/Object-tracking-from-scratch-source_code.zip
/object_tracking-tutorial/dnn_model/yolov4.weights
/object_tracking-tutorial/dashCam.mp4
/object_tracking-tutorial/output-dashCam.avi
/object_tracking-tutorial/los_angeles.mp4
/object_tracking-tutorial/output-los_angeles.avi
/object_tracking-tutorial/__pycache__
